{% extends "lost_password/base.html" %}


{% block content %}
<div class="d-flex align-items-center  text-white" style="min-height: 100vh">
  <div class="align-middle row justify-content-center w-100 text-center">
    <h2>Email has been sent to you email</h2>
    <p>An email has been sent to your mailbox please check for a link and follow the instructions</p>
      <a href="/" class="btn btn-dark fs-6 btn-lg float-end" name="sign_in" value="sign_in" style="width: 25%;">Sign in</a>
  </div>
</div>
{% endblock %}