{% extends "lost_password/base.html" %}

{% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="row">
      <p class="text-success text-center fs-1"> DigiCaddie </p>
      <form method="post">
        {% csrf_token %}
        <input placeholder="Email" class="form-control bg-dark text-white" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
        <br>
        <div class="row">
          <div class="col">
              <button class="btn btn-dark fs-6 btn-lg" type="submit"> Reset Password </button>
          </div>
          <div class="col">
              <button class="btn btn-dark fs-6 btn-lg float-end" name="sign_up" value="sign_up"><a class = "text-white" style = "text-decoration: none;">Sign Up</a></button>
          </div>
      </div>
      </form>
    </div>
</div>
{% endblock %}