{% extends 'lost_password/base.html' %}


{% block content %}
  <div class="d-flex flex-column justify-content-center align-items-center min-vh-100" style="min-height: 100vh">
    <div class="row">
    <h2 class="text-success text-center fs-1">Reset Password</h2>
    <p class="text-success text-center fs-1">Enter your new password below:</p>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <input placeholder="Password" class="form-control bg-dark text-white" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" />
      </div>
      <br>
      <div class="row">
        <input placeholder="Confirm password"class="form-control bg-dark text-white" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" />
      </div>
      <br>
      <div class="row justify-content-center align-items-center">
      <button class="btn btn-dark fs-6 btn-lg" type="submit">Reset Password</button>
      </div>
    </form>
    </div>
  </div>
{% endblock %}
