{% if hole.hole_number == 1 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=18 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 2 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=1 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 3 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=2 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 4 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=3 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 5 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=4 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 6 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=5 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 7 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=6 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 8 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=7 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 9 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=8 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 10 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=9 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 11 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=10 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 12 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=11 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 13 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=12 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 14 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=13 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 15 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=14 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 16 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=15 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 17 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=16 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}

{% if hole.hole_number == 18 %}
    <li class="nav-link">
    <a class="btn-post" href="{% url 'golf-home' course_id=course.course_id holeNum=17 score_id=score.pk %}">Previous Hole</a>
    </li>
{% endif %}