{% for x in photo.comments.all|slice:":3" %}
<div class="row justify-content-start justify-content-between">
    <div class="col-auto me-auto mh-100">
        <img class="rounded-circle shadow-4-strong" style="width: 2.5rem; height: 2.5rem"
            src={{x.author.profile_pic.user_profile_picture.url}}>
    </div>
    <div class="col comment-card">
        <div class="card-header d-flex align-items-center text-start justify-content-between p-0">
            <a class="linky-text d-flex flex-grow" href="{% url 'main_page:profile_page' photo.author %}"> {{x.author}} Posted: {{ x.created|timesince }} ago </a>
            <div class="dropdown" data-bs-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                  </svg>
            </div>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a name={{x.id}} class="report_comment dropdown-item" href="#">Report</a></li>
                {% if x.author == request.user %}
                <li><a name={{x.id}} class="delete-comment text-danger dropdown-item" href="#">Delete comment</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <td class="">{{ x.text }} </td>
        </div>
        <div class="card-footer">
            <div class="d-flex flex-row">
                {% if x.id in comments_likes %}
                <button class="like_comment" style="padding: 0; border: none; background: none;" name="{{ x.id }}">
                    <svg name="{{ x.id }}-comment" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path name="{{ x.id }}-path-comment" fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        <title>Like</title>
                    </svg>
                </button>
                {% else %}
                <button class="like_comment" style="padding: 0; border: none; background: none;" name="{{ x.id }}">
                    <svg name="{{ x.id }}-comment" fill="white" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" class="bi bi-heart" viewBox="0 0 16 16">
                        <path name="{{ x.id }}-path"
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                        <title>Like</title>
                    </svg>
                </button>
                {% endif %}
                <div class="p-2">
                    <button class="" style="padding: 0; border: none; background: none;" data-bs-toggle="collapse"
                        href="#comments-{{ x.id }}-comment" role="button" aria-expanded="false"
                        aria-controls="comments-{{ x.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                            class="bi bi-chat-left-text" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                            <path
                                d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                        </svg>
                        <title>Comment</title>
                    </button>
                </div>
            </div>
            
            <div class="card-body border-0 collapse" id="comments-{{ x.id }}-comment">
                <div class="card-body">
                    <div class="row justify-content-start justify-content-between">
                        <div class="col-auto me-auto mh-100">
                            <img class="rounded-circle shadow-4-strong" style="width: 40px; height: 40px"
                                src={{request.user.profile_pic.user_profile_picture.url}}>
                        </div>
                        <div class="col">
                            {% csrf_token %}
                            {{ comment_form_reply.as_p }}
                            <textarea placeholder="Leave a comment" style="width: 100%;"
                                class="form-control bg-transparent text-white shadow-none border-0" rows="2"
                                id="{{x.id}}_comment_reply" name="text" maxlength="180" required="true"></textarea>
                        </div>
                    </div>
                    <button class="comment_reply btn-load" type="button" name="{{ x.id }}"> Comment </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between vstack gap-3 flex-start align-self-center"
                                    id="comment_section_{{x.id}}">
<div>
{% for y in x.comment_replies.all|slice:":1" %}
<div class="row justify-content-end">
    <div class="col-auto me-auto mh-100">
    </div>
    <div class="col-auto me-auto mh-100">
        <img class="rounded-circle shadow-4-strong" style="width: 2.5rem; height: 2.5rem"
            src={{y.author.profile_pic.user_profile_picture.url}}>
    </div>
    <div class="col comment-card">
        <div class="card-header d-flex align-items-center text-start justify-content-between p-0">
            <a class="linky-text d-flex flex-grow" href="{% url 'main_page:profile_page' photo.author %}"> {{ y.author }} Posted: {{ y.created|timesince }} ago </a>
            <div class="dropdown" data-bs-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
            </div>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a name={{y.id}} class="report_comment dropdown-item" href="#">Report</a></li>
                {% if y.author == request.user %}
                <li><a name={{y.id}} class="delete-comment text-danger dropdown-item" href="#">Delete comment</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <td class="">{{ y.text }} </td>
        </div>
        <div class="card-footer">
            {% if y.id in comments_likes %}
            <button class="like_comment" style="padding: 0; border: none; background: none;" name="{{ y.id }}">
                <svg name="{{ y.id }}-comment-reply" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path name="{{ y.id }}-path-comment-reply" fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                    <title>Like</title>
                </svg>
            </button>
            {% else %}
            <button class="like_comment-reply" style="padding: 0; border: none; background: none;" name="{{ y.id }}">
                <svg name="{{ y.id }}-comment-reply" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path name="{{ y.id }}-path"
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    <title>Like</title>
                </svg>
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}