{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    <style>
        body {
            margin: 0;
            background-color: rgb(17, 17, 17);
        }
    </style>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>