{% extends "lost_password/base.html" %}

{% block content %}
  <div class="d-flex align-items-center  text-white" style="min-height: 100vh">
    <div class="align-middle row justify-content-center w-100 text-center">
      <h2>Password Reset Complete</h2>
      <p>Your password has been successfully reset. You can now login with your new password.</p>
      <a href="/" class="btn btn-dark fs-6 btn-lg float-end" name="sign_in" value="sign_in" style="width: 25%;">Sign in</a>
    </div>
  </div>
{% endblock %}